@import 'reset.scss';

$topHeight: 130px;
$leftRightMargin: 85px;
$titleHeight: 160px;
$titleDefaultLeft: $leftRightMargin+$titleHeight;

/*
 *  App
 */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.app {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans',
    sans-serif;
  color: black;
  position: relative;

  &.show-lightbox {
    overflow: hidden;
  }
}

/*
 *  Wrapper
 */
.wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.title {
  font-weight: 800;
  font-size: 72px;
  border-left: solid 16px black;
  text-decoration: underline;
  max-width: 700px;
  line-height: 80px;
  height: $titleHeight;
  padding: 5px 0;
  padding: 0px 0 8px 0;
  padding-left: calc(#{$topHeight} - 16px);

  position: absolute;
  left: $titleDefaultLeft;
  top: 0;
  transform-origin: left top;
  transform: rotate(90deg);
  z-index: 10;
}

.img-box-area {
  position: absolute;
  top: $topHeight;
  right: $leftRightMargin;
  // background: pink;

  width: calc(100% - #{$titleDefaultLeft} - #{$leftRightMargin} - 125px);
  @extend .clearfix;
}

.img-box {
  position: relative;
  width: 255px;
  height: 255px;
  background-color: peru;

  background-size: cover;
  background-position: center center;
  float: left;
  // margin: 0px 15px 32px 15px;
  margin-right: 30px;
  margin-bottom: 32px;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 16px 16px 0 rgba(0, 0, 0, 1);
  }
}

@media (max-width: 1279px) {
  .img-box {
    width: 300px;
    height: 300px;

    &:nth-child(3n) {
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .img-box-area {
    right: calc((100% - 630px - 125px - 160px) / 2);
    width: 630px;
  }

  .title {
    left: calc((100% - 630px - 125px - 160px) / 2 + 160px);
  }
}

@media (max-width: 989px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
  }

  .title {
    position: static;
    transform: none;
    max-width: none;
    // width: 90vw;
    height: auto;
    padding-left: 40px;
    word-break: break-all;
  }

  .img-box-area {
    position: static;
    margin-top: 32px;
    width: 90vw;
  }

  .img-box {
    width: calc(45vw - 15px);
    height: calc(45vw - 15px);
  }
}

@media (max-width: 889px) {
  .title {
    font-size: 62px;
  }
}

@media (max-width: 709px) {
  .title {
    font-size: 52px;
    padding-left: 20px;
    border-width: 16px;
  }

  .img-box-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-box {
    margin: 0 0 32px 0 !important;
    width: 90vw;
    height: 90vw;
    flex-shrink: 0;
  }
}

@media (max-width: 579px) {
  .title {
    font-size: 42px;
  }
}

@media (max-width: 469px) {
  .title {
    max-width: 90vw;
    font-size: 32px;
    line-height: 60px;
  }
}

@media (max-width: 360px) {
  .title {
    max-width: 90vw;
    font-size: 26px;
  }
}

/*
 *  Light Box
 */

.lightbox-wrapper {
  position: absolute;
  z-index: 999;
  background: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.lightbox-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
  // background: lightseagreen;
  height: auto;
  max-width: 1280px;
}

.lightbox-text-area {
  height: 100%;
  float: left;
  width: 30%;
  padding-right: 46px;
  // background: lightblue;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lightbox-text-page {
  position: absolute;
  top: 0;
  left: 20px;
  width: 30%;
  padding-right: 46px;
  color: white;

  &>* {
    font-size: 72px;
    font-weight: bold;
    display: inline-block;
    width: 41px;
    text-align: center;
    vertical-align: baseline;

    &:nth-child(2) {
      font-weight: normal;
      font-size: 36px;
      width: 34px;
    }
  }
}

.lightbox-text-quote {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 30%;
  padding-right: 46px;

  &>* {
    color: white;
    font-size: 24px;
    font-weight: bold;

    &:nth-child(2) {
      font-size: 16px;
      font-style: italic;
      margin-top: 24px;
    }
  }
}

.lightbox-slider-area {
  float: right;
  width: 70%;
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  background: peru;
  border: solid 16px white;
  border-radius: 6px;
  // height: 100%;

  .left-icon,
  .right-icon,
  .cancel-icon {
    position: absolute;
    color: white;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 300ms;

    &:hover {
      opacity: 1;
    }
  }

  .left-icon,
  .right-icon {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
  }

  .right-icon {
    left: auto;
    right: 0;
  }

  .cancel-icon {
    top: 6px;
    right: 6px;
    font-size: 36px;
    opacity: 1;
  }

  .hide-img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: all 600ms;
  }
}

.lightbox-text-area-mobile {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  .lightbox-text-page,
  .lightbox-text-quote {
    position: static;
    display: block !important;
    width: auto;
    padding-left: 20px;
  }

  .lightbox-text-page {
    flex-shrink: 0;
  }

  .lightbox-text-quote {
    padding-left: 5px;
  }
}

@media (max-width: 1023px) {

  .lightbox-text-area-mobile {
    display: flex;
  }

  .lightbox-text-area,
  .lightbox-text-page,
  .lightbox-text-quote {
    display: none;
  }

  .lightbox-container {
    text-align: center;
    padding: 10;
  }

  .lightbox-slider-area {
    width: auto;
    float: none;
    display: inline-block;
    // padding: 20px 0;
  }
}

.mobile-horizontal {
  .lightbox-container {
    height: 100% !important;
  }

  .lightbox-slider-area {
    height: 100% !important;
  }

  .hide-img {
    height: 100% !important;
    width: auto !important;
  }
}